[submodule "sensor-gps"]
	path = sensor-gps
	url = https://github.com/willisj/sensor-gps.git
[submodule "sensor-imu"]
	path = sensor-imu
	url = https://github.com/willisj/sensor-imu.git
[submodule "sensor-wifi"]
	path = sensor-wifi
	url = pi@10.0.0.8:~/gitlocal/bare/sensor-wifi.git/
[submodule "sensor-misc"]
	path = sensor-misc
	url = https://github.com/willisj/sensor-misc.git
