[submodule "sensor-gps"]
	path = sensor-gps
	url = https://github.com/willisj/sensor-gps.git
[submodule "sensor-imu"]
	path = sensor-imu
	url = https://github.com/willisj/sensor-imu.git
[submodule "sensor-misc"]
	path = sensor-misc
	url = https://github.com/willisj/sensor-misc.git
